SCROBBLE_DATABASE_NAME='scrobbles.db'

TIDAL_CLIENT_ID=''
TIDAL_CLIENT_SECRET=''
TIDAL_ACCESS_TOKEN=''
TIDAL_REFRESH_TOKEN=''

TIDAL_PLAYLIST_ID=''

LASTFM_USERNAME='Majunko'
LASTFM_API_KEY=''

LISTENBRAINZ_USERNAME='Majunko'
LISTENBRAINZ_API_TOKEN=''   # optional, recommended for higher rate limits

BEATPORT_USERNAME=''
BEATPORT_PASSWORD=''
BEATPORT_API_CLIENT_ID=''
BEATPORT_ACCESS_TOKEN=''
BEATPORT_REFRESH_TOKEN=''
BEATPORT_TOKEN_EXPIRES_AT=''
